li {
    text-align: left;
    margin: auto 33% auto 33%;

    
}
h1 {
    text-align: center;
    color: cornsilk;
    padding-top: 20px;
    padding-bottom: 30px;
}

body {
    background-color: cornflowerblue;
}